<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="19"
          android:versionName="0.7.0.1-SNAPSHOT" package="com.zeyomir.ocfun">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name"
                 android:name="LocationProvider" android:theme="@style/Holo.Theme">
        <uses-library android:name="com.google.android.maps" android:required="true"/>
        <activity android:label="@string/app_name" android:name=".gui.OCFun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".gui.Add"/>
        <activity android:name=".gui.List"/>
        <activity android:name=".gui.SingleCache"/>
        <activity android:name=".gui.Images"/>
        <activity android:name=".gui.SingleImage"/>
        <activity android:name=".gui.Logs"/>
        <activity android:name=".gui.MyLogs"/>
        <activity android:name=".gui.LogAdd"/>
        <activity android:name=".gui.Compass"/>
        <activity android:launchMode="singleInstance" android:name=".gui.Settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="callback" android:scheme="ocfun"/>
            </intent-filter>
        </activity>
        <activity android:name=".gui.Cancel"/>
        <activity android:name=".gui.Maps" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".gui.Help"/>
    </application>

</manifest>