<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.zeyomir.ocfun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".configuration.OCFunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.CachesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MapActivity" />

        <activity android:name=".view.activity.MediaActivity" />
        <activity android:launchMode="singleInstance" android:name=".view.activity.AuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="callback" android:scheme="ocfun"/>
            </intent-filter>
        </activity>
        <service
            android:name=".network.DownloadingService"
            android:exported="false" />

        <service
            android:name=".network.SynchronizationService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="333bc92b3b965dcc0c495e053bef685e7aee63cc" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdPfBU3Is6n-GZZ1SzegZ0Z5IO2K3ZYyE" />
    </application>

</manifest>
